
@{
    ViewBag.Title = "ReactTest";
}

@section Scripts
{
    <script src="~/scripts/React/react.min.js"></script>
}

<h2>React Function Below</h2>
<script src="~/scripts/React/Component/JsonView.jsx"></script>